.container p{
    font-family: Readex Pro;
    width: 164;
    height: 34;
    top: 266px;
    left: 48px;
}
.container span{
    width: 289px;
    height: 15px;
    top :185px;
    left: 29px;
}
.boton{
    height: 14px;
width: 39px;
left: 297px;
top: 215px;
border-radius: undefinedpx;
color: 
#FFFFFF;
}
